/*etiquetas de estructuracion*/
body{
    background-color: #fcfae8;
    margin: 0px;
}

header{
    background-color: #3b012f;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid grey;
}

footer{
    background-color: #3b012f;
    color: white;
}

/*etiquetas tipograficas*/
*{
    font-family: 'Handlee', cursive;
}
ol,ul{
margin: 0px;
padding:0px;
list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6{
  /* font-family: 'Lobster', cursive;  */
  font-family: 'Luckiest Guy', cursive;
}

/*clases*/
.principal-title{
    font-family: 'Lobster', cursive; 
    letter-spacing: 5px; 
    font-size: 56px;
    margin: 0px;
    margin-top: 32px;
    /* color: #fcd7fc; */
    color:#ff4dff;
    text-shadow: -1px -1px 0px white, 1px 1px 0px white, -1px 1px 0px white, 1px -1px 0px white;
}

.figure-logo{
margin: 0px;
}

.menu{
 margin: 16px 0px 16px 0px;   
 width: 30%;
 font-size: 20px;
}
.menu ol,ul{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
list-style: none;
color: #fcd7fc;
}
.special-title {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;   
    position: relative; 
    /* border: 3px solid black; */
}


.special-title-h1 {
    color: #059ff2;
    font-family: 'Lobster', cursive;
    letter-spacing: 1px;
    font-size: 32px;
    text-align: center;
    font-weight: 400;
    animation-name: growthSize;
    /* animation-name: position; */
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    position: absolute;
}


.special-title-h1:link {

}

@keyframes growthSize {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.5);
    }
}

/* @keyframes position {
    from{
        transform: translatey(0px);
    }
    to{
        transform: translatey(10px);
    }
} */

.grid-title{
    display: flex;
    justify-content: center;
    width: 100%;
    font-weight: 500;
    letter-spacing: 1.5px;
    font-size: xx-large;
    color: #ff4dff;
}

.grid-title-blue{
    display: flex;
    justify-content: center;
    width: 100%;
    font-weight: 500;
    letter-spacing: 1.5px;
    font-size: xx-large;
    color: #059ff2;
}

.container{
    display: grid;
    grid-template: repeat(5, 450px)/ repeat(3, 500px);
    grid-gap: 10px;
    justify-content: center;
}

.container-combos{
    display: grid;
    grid-template: repeat(2, 450px)/ repeat(3, 500px);
    grid-gap: 10px;
    justify-content: center;
}

#grid-item{
    /* border: 1px solid black; */
    text-align: center;
    margin: 5px;
    box-shadow: 2px 2px 2px 2px  rgba(0, 0, 0,0.2);
}

#grid-item img{
    width: 100%;
    height: 80%;
}

#grid-item p{
    font-weight: 900;
    color: #059ff2;
}

#form{
    text-align: center;
    flex-direction: row;   
}

.form-title-2{
    font-size: 30px;
    color: #059ff2;
    letter-spacing: 1.2px;
}

.form-title-3{
    font-size: 24px;
    color: #059ff2;
    letter-spacing: 1.2px;
}

#form-title-name{
    width: 260px;
}

#form p{
    color: #3b012f;
    font-weight: 900;
}

#histories{
    display: grid;
    grid-template: repeat(1, 1fr)/repeat(3, 550px);
    height: 250px; 
    background-color: rgba(59, 1, 47, 0.3);
    /* grid-gap: 10% 10%; */
    align-items: center;
    justify-content: space-around;
    justify-items: center;
    padding: 50px 10px;
}

#histories-grid{ 
   text-align: center;
   display: grid;
   grid-template: 40% 60%/40% 60%;
   grid-template-areas:"photo link"
                        "photo message"; 
   align-self: center;
   background-color: rgba(112,112,112, 0.7);
   width: 100%;
   height: 100%;
   justify-items: center;
   padding: 10px;
   border: 1px solid transparent;
}

#photo{
    grid-area: photo;
    align-self: center;
}

#link{
   grid-area: link;
   align-self: center;
   text-decoration: none;
   color: #03fcdf;
   font-size: 2em;
}

#message{
    grid-area: message;
}

.image{
    border-radius: 50%;
}
form h3{
    margin: 0px;
}

#footer {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

#form-data-input {
   display: grid; 
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(4, 1fr);
   grid-gap: 4px 4px;   
   grid-template-areas: "form-data-name input-name"
                        "form-data-number input-number"
                        "form-data-email input-email"
                        "sell-button sell-button";
}

#footer-data {
 padding: 10px;   
 align-content: center; 
 text-align: center;
}

#form-data-name {
grid-area: form-data-name;
}

#input-name {
grid-area: input-name;    
}

#form-data-number{
grid-area: form-data-number;    
}

#input-number {
grid-area: input-number;    
}

#form-data-email{
grid-area: form-data-email;    
}

#input-email {
grid-area: input-email;    
}

#sell-button{
grid-area: sell-button;
text-align: center;
align-content: center;
width: 50%;
}

#footer-data{
justify-self: start;  
height: 100%;
width: 100%;  
}

#social-media {
    display: inline-flex;
    flex-direction: row;
}

#emails{
    display: flex;
    flex-direction: column;
}

#social-media a:first-child{
    height: 50px;
    width: 50px;
    background-image: url('social-media/instagram.svg');
    background-size: 100% 100%;
    margin-right: 10px;
    
}

#social-media a:nth-child(2){
    height: 50px;
    width: 50px;
    background-image: url('social-media/facebook-svg.svg');
    background-size: 100% 100%;
    margin-right: 10px;

}

#link-jdgamer {
    text-decoration: none;
    color: #03fcdf;
    font-weight: 900;
}

.li-link {
    border: 1px solid white;
    padding: 5px 5px 5px 5px;
    border-radius: 4px;
}
.menu-link {
    text-decoration: none;
    color: #fcd7fc;
    
}

.menu-link:hover {
    font-size: 22px;
    color: #03fcdf;
    transition-duration: 0.5s;
}

