/*etiquetas de estructuracion*/
body{
    background-color: #fcfae8;
    margin: 0px;
}

header{
    background-color: #3b012f;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid grey;
}

footer{
    background-color: #3b012f;
    color: white;
}

/*etiquetas tipograficas*/
*{
    font-family: 'Handlee', cursive;
}
ol,ul{
margin: 0px;
padding:0px;
list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6{
  /* font-family: 'Lobster', cursive;  */
  font-family: 'Luckiest Guy', cursive;
}

/*clases*/
.principal-title{
    font-family: 'Lobster', cursive; 
    letter-spacing: 5px; 
    font-size: 56px;
    margin: 0px;
    margin-top: 32px;
    /* color: #fcd7fc; */
    color:#ff4dff;
    text-shadow: -1px -1px 0px white, 1px 1px 0px white, -1px 1px 0px white, 1px -1px 0px white;
}

.figure-logo{
margin: 0px;
}

.menu{
 margin: 16px 0px 16px 0px;   
 width: 30%;
 font-size: 20px;
}
.menu ol,ul{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
list-style: none;
color: #fcd7fc;
}

.special-title h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #059ff2;
    font-family: 'Lobster', cursive;
    letter-spacing: 2px;
    font-size: 32px;
    text-align: center;
    font-weight: 400;
}

.grid-title{
    display: flex;
    justify-content: center;
    width: 100%;
    font-weight: 500;
    letter-spacing: 1.5px;
    font-size: xx-large;
    color: #ff4dff;
}

.container{
    display: grid;
    grid-template: repeat(5, 450px)/ repeat(3, 500px);
    grid-gap: 10px;
    justify-content: center;
}

.container-combos{
    display: grid;
    grid-template: repeat(2, 450px)/ repeat(3, 500px);
    grid-gap: 10px;
    justify-content: center;
}

#grid-item{
    /* border: 1px solid black; */
    text-align: center;
    margin: 5px;
    box-shadow: 2px 2px 2px 2px  rgba(0, 0, 0,0.2);
}

#grid-item img{
    width: 100%;
    height: 80%;
}

#grid-item p{
    font-weight: 900;
    color: #059ff2;
}

#form{
    text-align: center;
    flex-direction: row;   
}

.form-title-2{
    font-size: 30px;
    color: #059ff2;
    letter-spacing: 1.2px;
}

.form-title-3{
    font-size: 24px;
    color: #059ff2;
    letter-spacing: 1.2px;
}

#form-title-name{
    width: 260px;
}

#form p{
    color: #3b012f;
    font-weight: 900;
}

#histories{
    display: grid;
    grid-template: repeat(1, 1fr)/repeat(3, 550px);
    height: 250px; 
    background-color: rgba(59, 1, 47, 0.3);
    /* grid-gap: 10% 10%; */
    align-items: center;
    justify-content: space-around;
    justify-items: center;
    padding: 50px 10px;
}

#histories-grid{ 
   text-align: center;
   display: grid;
   grid-template: 40% 60%/40% 60%;
   grid-template-areas:"photo link"
                        "photo message"; 
   align-self: center;
   background-color: rgba(112,112,112, 0.7);
   width: 100%;
   height: 100%;
   justify-items: center;
   padding: 10px;
   border: 1px solid transparent;
}

#photo{
    grid-area: photo;
    align-self: center;
}

#link{
   grid-area: link;
   align-self: center;
   text-decoration: none;
   color: #03fcdf;
   font-size: 2em;
}

#message{
    grid-area: message;
}

.image{
    border-radius: 50%;
}
form h3{
    margin: 0px;
}